{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div class="example-wrapper">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
        <h1 class="text-center">Users</h1>
            {% for user in users %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.getEmail }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}